<article>
			<h1>Enter-view.js Demo</h1>
			<p class='description'>Dependency-free JavaScript <a href='https://github.com/russellgoldenberg/enter-view'>library</a> to detect when element enters into view</p>
			<p class='prompt'>Start scrolling to see examples.</p>
			<div class='blocks'>
				<p class='explain'>Default (no offset)</p>
				<code>
					<pre>
enterView({
 selector: '.block-a',
 enter: function(el) {
  el.classList.add('entered');
 }
});
					</pre>
				</code>
				<div class='block block-a'><p>.block-a</p></div>

				<p class='explain'>50% offset</p>
				<code>
					<pre>
enterView({
 selector: '.block-b',
 offset: 0.5,
 enter: function(el) {
  el.classList.add('entered');
 }
});
					</pre>
				</code>
				<div class='block block-b'><p>.block-b</p></div>

				<p class='explain'>75% offset, trigger every time</p>
				<code>
					<pre>
var count = 0;
enterView({
 selector: '.block-c',
 offset: '0.75,
 enter: function(el) {
  el.classList.add('entered');
  count += 1;
  el.querySelector('span').innerText = count;
 }
});
					</pre>
				</code>
				<div class='block block-c'><p>.block-c (<span>0</span>)</p></div>

				<p class='explain'>Multiple elements, 50% offset</p>
				<code>
					<pre>
enterView({
 selector: '.block-d',
 offset: 0.5,
 enter: function(el) {
  el.classList.add('entered');
 }
});
					</pre>
				</code>
				<div class='block block-d'><p>.block-d</p></div>
				<div class='block block-d'><p>.block-d</p></div>
				<div class='block block-d'><p>.block-d</p></div>

			<p class='explain'>Exit element, 50% offset</p>
			<code>
				<pre>
enterView({
 selector: '.block-e',
 offset: 0.5,
 enter: function(el) {
  el.classList.add('entered');
 },
 exit: function(el) {
  el.classList.remove('entered');
 },
});
				</pre>
			</code>
			<div class='block block-e'><p>.block-e</p></div>

			<p class='explain'>Progress increments, 50% offset</p>
			<code>
				<pre>
enterView({
 selector: '.block-f',
 offset: 0.5,
 enter: function(el) {
  el.classList.add('entered');
 },
 progress: function(el, progress) {
  var p = el.querySelector('.progress')
  p.innerText = progress.toFixed(2);
 }
});
				</pre>
			</code>
			<div class='block block-f'><p>.block-f <span class='progress'></span></p></div>
		</div>
		</article>